html,
body {
    height: 100%;
}

#editor {
    font-size: 12pt;
    /*
     * To avoid the misaligned IME placeholder issue.
     * See: https://github.com/ajaxorg/ace/issues/4115#issuecomment-557439192
     */
    padding: 0px;
}

#output {
    font-size: 12pt;
    font-family: monospace;
    white-space: pre;
    overflow: scroll;
}

#output .error {
    color: red;
}

#output .info {
    color: green;
}